1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

In [6]:
import operator
operation ={"+":operator.add,"-": operator.sub,"//": operator.floordiv,"*": operator.mul}
def arithmetic_operation(in_str):
    in_list = in_str.split(" ")
    
    output = operation[in_list[1]](int(in_list[0]),int(in_list[2])) if int(in_list[2])!=0 else -1
    return output

In [7]:
arithmetic_operation("12 + 12")

24

In [8]:
arithmetic_operation("12 - 12")

0

In [9]:
arithmetic_operation("12 * 12")

144

In [10]:
arithmetic_operation("12 // 0")

-1

2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

In [ ]:
def perimeter(in_arr):
    for ele in range(len(in_arr)):

In [11]:
in_arr = [[15,7],[5,22],[11,1]]

In [34]:
import math
def perimeter(in_arr):
    for ele in range(len(in_arr)):
        a,b,c = in_arr[0],in_arr[1],in_arr[2]
        dist_ab = math.sqrt(pow((b[1]-a[1]),2)+pow((b[0]-a[0]),2))
        dist_bc = math.sqrt(pow((b[1]-c[1]),2)+pow((b[0]-c[0]),2))
        dist_ac = math.sqrt(pow((a[1]-c[1]),2)+pow((a[0]-c[0]),2))
    perimeter = dist_ab+dist_bc+dist_ac
    return round(perimeter,2)

In [35]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.08

In [36]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.41

In [37]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.28

3.A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).
[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]
Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

In [42]:
def tallest_skyscraper(in_list):
    out_list =[]
    for num in range(len(in_list)):
        count = 0
        for ele in range(len(in_list[num])):
            count += in_list[ele][num]
        out_list.append(count)
    return max(out_list)

In [43]:
tallest_skyscraper([[0, 0, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])

3

In [45]:
tallest_skyscraper([[0, 1, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])

4

In [46]:
tallest_skyscraper([[0, 0, 0, 0],[0, 0, 0, 0],[1, 1, 1, 0],[1, 1, 1, 1]])

2

4.A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days                             Bonus  
0 to 32 days                  Zero  
33 to 40 days         SGD$325 per billable day  
41 to 48 days         SGD$550 per billable day  
Greater than 48 days      SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:
32*0 + 8*325 + 5*550 = 5350
Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

In [59]:
def bonus(int_num):
    if int_num > 48:
        output = 0+(8*325)+(8*550)+((int_num-48)*600)
    elif int_num < 48 and int_num >= 41:
        output = 0+(8*325)+((int_num-41+1)*550)
    elif int_num >33 and int_num <= 40:
        output = 0+((int_num-33+1)*325)
    else:
        output = 0
    return output

In [61]:
bonus(15)

0

In [62]:
bonus(37)

1625

In [63]:
bonus(50)

8200

5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

In [90]:
def is_disarium(in_num):
    output = 0
    for ele in range(len(str(in_num))):
        output += int(str(in_num)[ele])**(ele+1)
    print(output)
    if output == in_num:
        return True
    else:
        return False

In [91]:
is_disarium(544)

85

False

In [92]:
is_disarium(75)

32

False

In [93]:
is_disarium(135)

135

True