In [ ]:
1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

In [43]:
def remove_letters(in_list,in_str):
    for ele in in_str:
        if ele  in in_list:
            in_list.remove(ele)
            
    return in_list

In [45]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [46]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [47]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

In [ ]:
2. A block sequence in three dimensions. We can write a formula for this one:
    
    Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

In [48]:
def blocks(in_num):
    depth = in_num*3+((in_num)-1)*1
    height = [x for x in range(2,in_num+2)]
    return depth+sum(height)

In [49]:
blocks(1)

5

In [50]:
blocks(2)

12

In [51]:
blocks(3)

20

In [52]:
blocks(4)

29

In [53]:
blocks(5)

39

In [ ]:
3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

In [54]:
from operator import sub
def my_sub(in_one,in_two):
    output = sub(in_one,in_two) if in_one >= in_two else sub(in_two,in_one)
    return output

In [55]:
my_sub(5, 9)

4

In [57]:
my_sub(10, 30)

20

In [58]:
my_sub(0, 0)

0

In [ ]:
4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

For the input string:

In [86]:
def add_bill(in_str):
    output=0
    for ele in in_str.split(","):
        if 'd' in ele:
            if 'k' in ele:
                ele = int(ele[1:-1]) *1000
            else :
                ele = int(ele[1:])
                
            output += ele
            
    return output

In [87]:
add_bill("d20,p40,p60,d50")

70

In [88]:
add_bill("p30,d20,p60,d150,p360")

170

In [89]:
add_bill("p30,d2k,p60,d200,p360")

2200

In [ ]:
5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

In [90]:
def flip_list(lst):
    if not lst:
        return lst

    is_vertical = isinstance(lst[0], list)
    
    if is_vertical:
        return [el[0] for el in lst]
    
    return [[el] for el in lst]

In [91]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [92]:
flip_list([[5], [6], [9]])

[5, 6, 9]

In [93]:
flip_list([])

[]