Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [2]:
def is_symmetrical(in_num):
    if str(in_num) == str(in_num)[::-1]:
        print(f'{in_num} ➞ {True}')
    else:
        print(f'{in_num} ➞ {False}')

In [3]:
is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

7227 ➞ True
12567 ➞ False
44444444 ➞ True
9939 ➞ False
1112111 ➞ True

2.Given a string of numbers separated by a comma and space, return the product of the numbers.

In [7]:
def multiply_nums(in_str):
    out_str = in_str.replace(" ","").split(',')
    out_num = 1
    for ele in out_str:
        out_num *= int(ele)
        
    return out_num

In [8]:
multiply_nums("2, 3")

6

In [10]:
multiply_nums("1, 2, 3, 4")

24

In [11]:
multiply_nums("54, 75, 453, 0")

0

In [12]:
multiply_nums("10, -2")

-20

In [ ]:
3.Create a function that squares every digit of a number.

In [35]:
def square_digits(num):
    words = list(str(num)) 
    for word in words:  
        print(int(word)**2, end="") 
num = 9119
square_digits(num)

811181

In [36]:
square_digits(2483)

416649

In [37]:
square_digits(3212)

9414

4.Create a function that sorts a list and removes all duplicate items from it.

In [38]:
def setify(in_list):
    return list(set(sorted(in_list)))

In [39]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [40]:
setify([4, 4, 4, 4])

[4]

In [41]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [42]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

5.Create a function that returns the mean of all digits.

In [87]:
def mean(in_num):
    output = 0
    out_num = list(str(in_num))
    for ele in out_num:
        intele = int(ele)
        output += intele
    return int(output/len(out_num))

In [88]:
mean(42)

3

In [89]:
mean(12345)

3

In [90]:
mean(666)

6